/**** Custom Properties ****/

:root {
  --first-color: #92ce22;
  --first-alpha75-color: rgba(146, 206, 34, 0.75);
  --first-alpha50-color: rgba(146, 206, 34, 0.5);
  --first-alpha25-color: rgba(146, 206, 34, 0.25);
  --second-color: rgb(245, 245, 245);
  --third-color: rgba(252, 136, 1, 1);
  --third-alpha75-color: rgba(252, 136, 1, 0.75);
  --third-alpha25-color: rgba(252, 136, 1, 0.25);
  --wsp-color: rgb(1, 192, 1);
  --twitter-color: rgb(1, 202, 252);
  --facebook-color: #0000a1;
  --link-color: #509ee3;
  --title-color: #333333;
  --text-color: #222222;
  --white-color: #ffffff;
  --gray-light-color: #d6d6d6;
  --gray-color: #949292;
  --gray-dark-color: #6b6b6b;
  --black-color: #000000;
  --white-alpha50-color: rgba(255, 255, 255, 0.5);
  --black-alpha50-color: rgba(0, 0, 0, 0.5);
  --font: "roboto", "sans-serif";
  --font-titles: "Oswald", "sans-serif";
  --max-width: 1200px;
  --header-height: 50px;
  --box-shadow: 0.25rem 0.25rem 1rem rgba(58, 32, 32, 0.5);
  --box-shadow2: 0.25rem 0.25rem 1rem rgba(224, 216, 216, 0.5);
  --box-shadow3: 0 10px 15px 2px rgba(0, 0, 0, 0.5);
  --box-shadow4: 0 1px 3px rgba(0, 0, 0, 0.5); /* resultados mobile */
  --box-shadow5: 6px 3px 6px rgba(0, 0, 0, 0.5);
}
/**** Reset ****/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;

  color: var(--text-color);
}

h1 {
  margin: 0;
  font-size: 2rem;
  font-family: var(--font-titles);
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  font-family: var(--font-titles);
  line-height: 2.2rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
  font-family: var(--font-titles);
}

h4 {
  margin: 0;
  font-size: 1rem;
  font-family: var(--font-titles);
}

h5 {
  margin: 0;
  font-size: 0.85rem;
  font-family: var(--font-titles);
}

h6 {
  margin: 0;
  font-size: 0.7rem;
  font-family: var(--font-titles);
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/**** Components ****/

/* Footer */
.footer {
  width: 100%;
  height: auto;
  border-top: thick solid black;
  background-color: #88b400;
}
.footer-social-media {
  width: 90%;
  height: 50px;
  margin: auto;
  border-bottom: thin solid rgb(118, 165, 31);
}
.footer-social-media-span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-social-media-span svg {
  width: clamp(0.7rem, 1rem + 3vw, 2.34rem);
  height: auto;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.footer-social-media-span p {
  margin-right: 0.2rem;
  font-size: clamp(0.91rem, 1.89rem + 0.1vw, 0.96rem);
  align-self: center;
}

.footer-options-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 1.5rem auto 0 auto;
  height: auto;
  border-bottom: thin solid rgb(118, 165, 31);
}

.footer-options-container section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 0.5rem 1rem 0;
  min-width: 120px;
}

.footer-options-container a {
  text-decoration: none;
  color: black;
  font-size: clamp(0.9rem, 0.7rem + 0.2vw, 1rem);
}

.footer-options-container h4 {
  font-size: clamp(1.09rem, 1.05rem + 0.21vw, 1.2rem);
}

.footer-bottom {
  width: 90%;
  margin: 0.5rem auto 1rem auto;
  background-color: #88b400;
}

.footer-bottom p {
  font-size: clamp(0.91rem, 1.89rem + 0.1vw, 0.96rem);
  line-height: 1rem;
  margin: 0 auto 0.75rem auto;
}

.footer-span-bottom {
  display: block;
  width: 100%;
  min-height: 40px;
  background-color: #729b19;
  padding-left: 5vw;
  padding-right: 5vw;
}

.footer-span-bottom a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin: 0.3rem 1rem 0.15rem 0;
  font-family: var(--font-titles);
}

.footer-tapa-container {
  display: none;
  width: 180px;
  height: 240px;
  background-color: #88b400;
  padding-left: 3rem;
  border-left: thin solid rgb(118, 165, 31);
}
.footer-tapa-container h4 {
  font-size: clamp(1.09rem, 1.05rem + 0.21vw, 1.2rem);
  margin-bottom: 0.5rem;
}

.footer-imagen-tapa {
  width: 150px;
}

.footer-a-text {
  text-decoration: none;
  color: #000;
  margin-top: 0.3rem;
  white-space: nowrap;
}

.footer-a-text:hover {
  text-decoration: underline;
}

@media screen and (min-width: 64em) {
  .footer-tapa-container {
    display: inline-block;
  }

  .footer-social-media-span {
    justify-content: flex-end;
  }
  .footer-social-media {
    border-bottom: none;
  }
}
/* Header Fixed */
.header-fixed {
  width: 100%;
  max-width: 1280px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: thin solid var(--gray-light-color);
  position: relative;
  top: 0;
  display: grid;
  grid-template-columns: minmax(200px, 18%) 80%;
  grid-template-rows: 20% 40% 40%;
  grid-template-areas:
    "img firstline"
    "img secondline"
    "img .";
}

.header-fixed-img {
  display: inline-block;
  width: 200px;
  height: 160px;
  grid-area: img;
}

.header-fixed-img img {
  height: 142px;
  width: 191px;
}

.first-line {
  width: 100%;
  min-width: 650px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: thin solid var(--gray-light-color);
  align-items: baseline;
  grid-area: firstline;
  overflow-x: hidden;
}

.social-media-hf-container {
  display: flex;
  flex-direction: row;
  display: inline-block;
  flex-wrap: wrap;
}

.social-media-hf-container svg {
  width: 22px;
  height: 22px;
  margin-left: 1vw;
  margin-top: 0.5rem;
}

.span2-hf-container {
  display: inline-block;
}

.span2-hf-container a {
  text-decoration: none;
  color: black;
  margin-right: 1vw;
  font-size: 15px;
  display: inline-block;
}

.span2-hf-container a:hover {
  text-decoration: underline;
}

.span2-hf-container :nth-child(4):hover {
  text-decoration: none;
}

.span2-hf-container :nth-child(4) {
  margin-right: 0;
  position: relative;
  bottom: 4px;
}

.span2-hf-container svg {
  width: 22px;
  height: 22px;
  color: var(--first-color);
  margin-right: 2px;
  position: relative;
  top: 4px;
  display: inline-block;
}

.hf-ingresar div {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  margin-right: 4px;
  border-radius: 1rem;
  background-color: gray;
  top: 4px;
}

.hf-sus {
  color: white;
  background-color: var(--first-color);
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.hf-sus b {
  color: white;
}

.second-line {
  height: 35px;
  min-width: 800px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: thin solid var(--gray-light-color);
  grid-area: secondline;
}

.second-line svg {
  width: 22px;
  height: 22px;
  margin-right: 1rem;
  fill: var(--first-color);
  display: inline-block;
}

.span-second-line-container {
  display: inline-block;
  width: 100%;
}

.span-second-line-container a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-family: var(--font-titles);
  font-weight: 500;
  padding-bottom: 8px;
  margin-right: 0.5vw;
}

.span-second-line-container a:hover {
  border-bottom: thick solid var(--first-color);
  transition: all 0.1s ease-in-out;
}

.third-line {
  width: 100%;
  min-width: 800px;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.hf-third-line-svg-container svg {
  width: 1.75rem;
  height: 2rem;
  margin-right: 0.1vw;
}

.hf-third-line-svg-container a {
  text-decoration: none;
}

@media screen and (max-width: 64em) {
  .header-fixed {
    display: none;
  }
}

/* Modal Header */

.header-modal {
  position: fixed;
  z-index: 9999;
  top: var(--header-height);
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  transition: all 1s;
  transform: translate(-100%, 0);
  opacity: 0;
}

.header-modal b {
  font-size: clamp(0.7rem, 0.8rem + 0.21vw, 1.2rem);
}

.header-modal:target {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
  background-color: white;
}

.svg-modal-top {
  display: flex;
  flex-direction: row;
}

.seccion-modal {
  width: 25%;
  text-align: center;
  border-right: thin solid var(--gray-color);
  border-bottom: thick solid black;
}

.seccion-modal svg {
  width: 2rem;
  height: 2rem;
  margin-top: 0.5rem;
  color: var(--gray-dark-color);
  fill: var(--gray-dark-color);
}

.seccion-modal:nth-child(4) h4 {
  color: var(--first-color);
}

.seccion-modal h4 {
  font-size: 4vw;
}

.modal-internal-links {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-left: 1rem;
  max-width: 500px;
}

.modal-internal-links a {
  margin-bottom: 1rem;
  text-decoration: none;
  font-size: 1rem;
  display: block;
  white-space: nowrap;
}

.modal-internal-links a:visited {
  color: black;
}

.modal-teams {
  margin-left: 1rem;
  margin-right: 1rem;
}

.header-modal hr {
  height: 7px;
  width: 100vw;
  background-color: black;
}

.modal-teams h3 {
  color: var(--first-color);
}

.modal-teams-svg {
  margin-top: 1rem;
  width: 100%;
  text-align: left;
  max-height: 240px;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
}

.modal-teams-svg svg {
  width: 1.8rem;
  height: 2rem;
  margin-bottom: 1rem;
}

.modal-teams-svg a {
  text-decoration: none;
}

.modal-sections {
  margin-left: 1rem;
  color: var(--first-color);
  display: grid;
  grid-template-columns: minmax(200px, 50%);
  column-gap: 0.5rem;
}

.modal-sections b {
  transition: 0.5s ease;
}

.modal-sections b:hover {
  color: var(--first-color);
  text-decoration: underline;
}

.modal-sections h3 {
  grid-column: span 2;
}

.mobile-none {
  opacity: 0;
  pointer-events: none;
}

.modal-sections a {
  text-decoration: none;
  color: black;
  display: inline-block;
  max-width: 170px;
  margin-top: 0.5rem;
  overflow: hidden;
  min-width: 150px;
  max-height: 22px;
}

.modal-svg-close {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  width: 22px;
  height: 22px;
  fill: var(--first-alpha50-color);
  pointer-events: stroke;
}

@media screen and (min-width: 48em) {
  .header-modal:target {
    max-width: 920px;
    min-height: 670px;
    margin-left: 100px;
    background-color: rgb(245, 245, 245);
    box-shadow: var(--box-shadow3);
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 25% 20% 35%;
    grid-template-areas:
      "int-links modal-secciones"
      "svg-teams modal-secciones"
      ". modal-secciones"
      "modal-sp modal-sp";
  }

  .modal-internal-links {
    grid-area: int-links;
    margin-top: 1rem;
  }

  .modal-internal-links a {
    font-size: 16px;
  }

  .modal-internal-links :nth-child(4) {
    display: none;
  }

  .modal-teams-svg {
    grid-area: svg-teams;
    margin-top: 0;
  }
  .modal-teams-svg svg {
    margin-bottom: 0;
    width: 2.25rem;
    height: 2.25rem;
  }

  .modal-sections {
    grid-area: modal-secciones;
  }

  .header-modal-container {
    display: none;
  }

  .header-modal hr {
    display: none;
  }

  .modal-teams h3 {
    display: none;
  }
  .modal-sections h3 {
    display: none;
  }

  .modal-second-part {
    grid-area: modal-sp;
    border-top: medium solid var(--gray-light-color);
    margin-top: 1rem;
  }

  .modal-sections {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    border-left: thin solid var(--gray-light-color);
    padding-left: 1rem;
  }

  .modal-second-part-titles {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 1rem;
    margin-top: 0.75rem;
  }

  .modal-second-part-titles a {
    text-decoration: none;
    color: black;
    padding-right: 1rem;
    margin-left: 0.5rem;
    border-right: thin solid var(--gray-light-color);
  }

  .modal-second-part-titles :nth-child(5) {
    border: 0;
  }

  .modal-second-part-articles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .modal-second-part-article {
    width: 170px;
    height: 170px;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .img-modal-second-part {
    position: relative;
    width: 100%;
    height: 75%;
    background-image: url(assets/foto-madrid.jpg);
    background-size: cover;
  }

  .modal-second-part-article > h4 {
    line-height: 1rem;
  }

  .title-modal-second-part {
    position: absolute;
    top: 4px;
    left: 6px;
    color: white;
    font-size: 0.85rem;
  }

  .modal-second-part-article h4 {
    text-align: left;
    margin-top: 0.2rem;
    max-height: 39px;
  }

  .modal-svg-close {
    position: absolute;
    left: 0;
    top: 0;
  }

  .mobile-none {
    opacity: 1;
    pointer-events: auto;
  }
}

/* Header and its components */
.header {
  width: 100vw;
  height: var(--header-height);
  position: sticky;
  top: 0px;
  background-color: var(--first-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: var(--box-shadow2);
  z-index: 10;
}

.btn-hamb {
  width: 24px;
  height: 24px;
  display: inline-block;
  fill: white;
  margin-left: 5vw;
}

.logo-ole {
  position: relative;
  top: 2px;
  width: 50px;
  height: 48px;
  margin-left: 5vw;
}

.person-svg {
  width: 36px;
  height: 36px;
  margin-right: 1rem;
}

.span-2 {
  margin-right: 1rem;
  font-size: clamp(0.9rem, 0.4rem + 1vw, 1rem);
}

.span-1,
.span-2 {
  display: flex;
  align-items: center;
}

.span-2 :nth-child(5) {
  margin-right: 2vw;
}

.header-social-media {
  display: none;
}
.header-social-media a {
  text-decoration: none;
}

.header-social-media svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.3rem;
}

.btn-open-header-modal {
  text-decoration: none;
  margin-left: 0.7rem;
  display: none;
}

.btn-open-header-modal:visited {
  color: black;
}

.statistics-svg {
  position: relative;
  top: 4px;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 2px;
  color: var(--white-alpha50-color);
}

.calendar-svg {
  position: relative;
  top: 4px;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 2px;
  color: var(--white-alpha50-color);
}

.header-ingresar {
  color: black;
  margin-right: 1rem;
  margin-top: 0.4rem;
}

.a-menu-big {
  display: none;
  font-size: 15px;
  text-decoration: none;
}

.a-menu-big:hover {
  text-decoration: underline;
}

.span-2 > a {
  color: black;
  margin-right: 0.7rem;
}

@media screen and (min-width: 48em) {
  .header {
    min-width: 768px;
  }

  .header-social-media {
    display: inline;
  }

  .a-menu-big {
    display: inline;
  }

  .btn-hamb {
    display: none;
  }

  .btn-open-header-modal {
    display: inline;
  }

  .person-svg {
    display: none;
  }

  .header-sus {
    color: white;
    background-color: black;
    padding: 0.55rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    text-decoration: none;
  }

  .header-sus:visited {
    color: white;
  }
  .logo-ole {
    margin-left: 0;
    margin-right: 50px;
  }
}
@media screen and (min-width: 64em) {
  .header {
    top: -1px;
  }
}

/* Main news */

.main-news {
  background-color: var(--second-color);
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.main-news-container {
  min-height: 410px;
}

.main-news-container h5 {
  background-color: var(--first-color);
  text-align: center;
}

.match-score-span1,
.match-score-span2 {
  width: 95%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.match-score-span1 svg,
.match-score-span2 svg {
  width: 28px;
  height: 28px;
  margin-left: 1rem;
}

.match-score-span1 p,
.match-score-span2 p {
  margin: 0;
  font-size: 1.2rem;
}

.match-score div {
  margin-right: 2%;
  margin-top: 0.5rem;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
}

.main-news-container h2 {
  margin-left: 1rem;
  text-align: left;
  font-size: 32px;
}

.bajada-news {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  line-height: 1.2rem;
}

/* Main News End */

.superior-publicity {
  width: 100%;
  height: 50px;
  display: block;
}

.superior-publicity img {
  width: 100%;
  max-width: 800px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: fill;
}

@media screen and (min-width: 48em) {
}
@media screen and (min-width: 64em) {
  .superior-publicity {
    margin-top: 1rem;
    height: 80px;
    width: 1020px;
    max-width: 1024px;
  }

  .superior-publicity img {
    max-width: 1024px;
    height: 80px;
  }

  .sup-publi-2 {
    display: none;
  }
  .main-news {
    max-width: 1000px;
  }
}

/* END header and its components */

/* Carousel */

.scores-mobile {
  border-top: thick solid black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.scores-mobile h3 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.scores-carousel-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slide-score {
  width: 45%;
  min-width: 100px;
  display: inline-block;
  background-color: var(--second-color);
}

.slide-score h4 {
  background-color: black;
  color: white;
  padding-bottom: 1.5rem;
  font-weight: normal;
}

.shields-score {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  border-bottom: thin solid var(--gray-light-color);
  box-shadow: var(--box-shadow4);
}

.separador-slide-score {
  height: 70%;
  margin: 1rem auto 1rem auto;
  border-right: 1px solid gray;
}

.shields-score svg {
  width: clamp(0.3rem, 0.5rem + 4vw, 2rem);
  height: 40px;
  margin: 0.5rem auto 0 auto;
}

.scores-mobile-team1,
.scores-mobile-team2 {
  height: 80px;
  width: 100%;
  min-width: 50px;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70% 30%;
}

.scores-mobile-team1 :nth-child(2),
.scores-mobile-team2 :nth-child(1) {
  display: inline-block;
  font-size: clamp(0.3rem, 0.7rem + 5vw, 1.5rem);
  margin: 1rem auto 0 auto;
}

.scores-mobile-team1 :nth-child(3),
.scores-mobile-team2 :nth-child(3) {
  font-size: clamp(0.1rem, 0.2rem + 1.5vw, 1.2rem);
  margin: 0;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  grid-column: span 2;
}

.slide-score h5 {
  font-weight: normal;
  text-align: center;
  margin: 0.5rem;
}

.list-goles-container {
  width: 100%;
}

.list-goles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-goles td {
  font-size: clamp(0.6rem, 0.4rem + 1.5vw, 1rem);
}

@media screen and (min-width: 48em) {
  .scores-mobile {
    display: none;
  }
}

/* Cell publicidad 2 */

.cell-advertising-2 {
  margin: 1.5rem auto 0 auto;
  width: 100%;
  max-width: 768px;
  height: auto;
  border-bottom: thin solid var(--second-color);
  padding-bottom: 1.5rem;
}

.cell-advertising-2 a {
  text-decoration: none;
  width: 100%;
}

.cell-advertising-2-container {
  width: 90%;
  height: 60vh;
  min-height: 410px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
    30deg,
    rgba(108, 221, 16, 0.705) 50%,
    rgb(2, 255, 108)
  );
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 1.4rem;
  align-items: center;
  grid-template-areas:
    "img text"
    "img text"
    "img text";
  overflow: hidden;
}

.cell-advertising-2-container img {
  display: inline-block;
  height: 90%;
  margin-left: 1rem;
  grid-area: img;
}
.advertising-2-text {
  display: inline-block;
  height: 85%;
  margin-right: 10%;
  grid-area: text;
}

.advertising-2-text p {
  min-width: 125px;
  font-size: clamp(1.2rem, 0.8rem + 2vw, 1.8rem);
  font-weight: bold;
}
.advertising-2-text :nth-child(1) {
  color: white;
  font-size: clamp(1.2rem, 0.8rem + 2.2vw, 1.8rem);
}
.advertising-2-text :nth-child(2) {
  color: black;
}
.advertising-2-text :nth-child(3) {
  width: fit-content;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  color: black;
  background-color: white;
  letter-spacing: 0.8vw;
}

@media screen and (min-width: 64em) {
  .advertising-2-text p {
    width: 100px;
    font-size: 1rem;
    margin: auto;
  }
  .advertising-2-text :nth-child(1) {
    font-size: 1rem;
    margin: 2rem auto 2rem auto;
  }
  .advertising-2-text :nth-child(3) {
    margin-top: 3rem;
    width: 130px;
    font-size: 1rem;
    letter-spacing: normal;
  }

  .cell-advertising-2 {
    margin: 0 auto 0 auto;
    border-bottom: none;
    padding-bottom: 0;
  }
}

/* Cel publi 3 */

.cell-advertising-3 {
  width: 100%;
  max-width: 768px;
  height: 40vh;
  min-height: 300px;
  max-height: 440px;
  background-color: var(--first-color);
  font-family: var(--font-titles);
  margin: 0 auto 1rem auto;
}

.cell-advertising-3 a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
}

.cell-adv-3-click {
  margin-bottom: 0.7rem;
  margin-top: 1rem;
  font-size: clamp(2rem, 3.25rem + 3vw, 5rem);
  letter-spacing: -0.2rem;
  overflow-x: hidden;
  white-space: nowrap;
}

.cell-adv-3-newsletter {
  letter-spacing: -0.2rem;
  overflow-x: hidden;
  white-space: nowrap;
  overflow-y: hidden;
  margin-bottom: -0.5rem;
}

.cell-adv-3-newsletter span {
  color: black;
  font-size: clamp(0.7rem, 1.5rem + 1.5vw, 2.5rem);
  overflow-y: hidden;
}

.p-cell-adv-3-container :nth-child(2) {
  margin-top: -1.2rem;
  font-size: clamp(0.7rem, 1.5rem + 1.5vw, 2.5rem);
  letter-spacing: 0;
}

.cel-adv-3-bg-container {
  background-image: url(assets/foto-messi.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 30vh;
}

.cel-adv-3-bg-container:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--first-alpha75-color);
}

.cell-adv-p-ole {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: white;
  font-size: clamp(2rem, 6rem + 3vw, 8rem);
  line-height: 6rem;
}

.cel-adv-3-div {
  width: 100%;
  background-color: black;
  font-size: clamp(0.9rem, 0.9rem + 2vw, 1.5rem);
  line-height: 2rem;
  font-weight: 500;
  top: 10rem;
  position: absolute;
  white-space: nowrap;
}

@media screen and (min-width: 64em) {
  .cell-advertising-3 {
    height: 50vh;
  }

  .cell-adv-3-click {
    font-size: 3rem;
    margin-top: 0.8rem;
  }

  .p-cell-adv-3-container :nth-child(2) {
    font-size: 1.45rem;
  }

  .cell-adv-3-newsletter span {
    font-size: 1.45rem;
  }

  .cell-adv-p-ole {
    font-size: 6rem;
  }

  .cel-adv-3-div {
    font-size: 1.2rem;
  }

  .cel-adv-3-bg-container {
    height: 250px;
  }
}

/* Cell publi Gran DT */

.advertising-grandt-container {
  width: 85%;
  max-width: 550px;
  height: 45vh;
  min-height: 400px;
  margin: 0.5rem auto 0.5rem auto;
  position: relative;
  background-image: linear-gradient(
    140deg,
    rgb(64, 54, 201) 50%,
    rgb(150, 0, 163)
  );
}

.advertising-grandt-a {
  text-decoration: none;
  color: white;
}
/* Gran DtBeginning */

.advertising-grandt-beginning {
  width: 100%;
  height: 100%;
  opacity: 0; /* OPACITY NONE!!!!!!!!!!  */
  animation: grandt-b 10s ease 0s infinite alternate both running;
}

@keyframes grandt-b {
  0% {
    opacity: 0;
  }

  2.5% {
    opacity: 0.2;
  }

  5% {
    opacity: 0.4;
  }

  7.5% {
    opacity: 0.6;
  }

  10% {
    opacity: 0.8;
  }

  12.5% {
    opacity: 1;
  }

  15% {
    opacity: 1;
  }

  17.5% {
    opacity: 1;
  }

  20% {
    opacity: 0.8;
  }

  22.5% {
    opacity: 0.6;
  }

  25% {
    opacity: 0.4;
  }

  27.5% {
    opacity: 0.2;
  }

  30% {
    opacity: 0;
  }

  32.5% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  37.5% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }

  42.5% {
    opacity: 0.6;
  }

  45% {
    opacity: 0.8;
  }

  47.5% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  52.5% {
    opacity: 1;
  }

  55% {
    opacity: 0.8;
  }

  57.5% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.4;
  }
  62.5% {
    opacity: 0.2;
  }
  65% {
    opacity: 0;
  }
  67.5% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  72.5% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.4;
  }
  77.5% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  82.5% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  87.5% {
    opacity: 1;
  }
  90% {
    opacity: 0.8;
  }
  92.5% {
    opacity: 0.6;
  }
  95% {
    opacity: 0.4;
  }
  97.5% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

.span-grandt-beginning {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grandt-podesganar {
  font-size: clamp(0.3rem, 0.3rem + 5vw, 1.5rem);
  font-family: var(--font-titles);
  font-weight: bold;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 4px;
}

.grandt-150000 {
  margin: 0;
  background-color: var(--third-color);
  font-size: clamp(0.8rem, 0.8rem + 10vw, 4rem);
  font-family: var(--font-titles);
  font-weight: bold;
}

.grandt-cadafecha {
  margin: 0;
  font-size: clamp(0.3rem, 0.3rem + 5vw, 1.5rem);
  font-family: var(--font-titles);
  letter-spacing: 4px;
  font-weight: bold;
}

/* Gran DtFinal */
.advertising-grandt-final {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: grandt-f 10s ease 0s infinite alternate both running;
}

@keyframes grandt-f {
  0% {
    opacity: 1;
  }

  2.5% {
    opacity: 0.8;
  }

  5% {
    opacity: 0.6;
  }

  7.5% {
    opacity: 0.4;
  }

  10% {
    opacity: 0.2;
  }

  12.5% {
    opacity: 0;
  }

  15% {
    opacity: 0;
  }

  17.5% {
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  22.5% {
    opacity: 0.4;
  }

  25% {
    opacity: 0.6;
  }

  27.5% {
    opacity: 0.8;
  }

  30% {
    opacity: 1;
  }

  32.5% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  37.5% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.6;
  }

  42.5% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.2;
  }

  47.5% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  52.5% {
    opacity: 0;
  }

  55% {
    opacity: 0.2;
  }

  57.5% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  62.5% {
    opacity: 0.8;
  }
  65% {
    opacity: 1;
  }
  67.5% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  72.5% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.6;
  }
  77.5% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  82.5% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  87.5% {
    opacity: 0;
  }
  90% {
    opacity: 0.2;
  }
  92.5% {
    opacity: 0.4;
  }
  95% {
    opacity: 0.6;
  }
  97.5% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.advertising-grandt-final svg {
  width: 40vw;
  max-width: 120px;
  height: 40vw;
  max-height: 130px;
  margin: 0 auto 1rem auto;
  display: flex;
  justify-content: center;
}

.advertising-grandt-final a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grandt-div-final-text {
  background-color: var(--third-color);
  width: 70vw;
  max-width: 500px;
  height: 70px;
  border-bottom: solid medium white;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 64em) {
  .grandt-div-final-text {
    max-width: 220px;
  }
}

.grandt-armaya {
  font-size: clamp(0.7rem, 0.7rem + 1.25vw, 1.5rem);
  margin: 1rem auto 0 auto;
  text-align: center;
  font-weight: bold;
  line-height: 0.5rem;
}

.grandt-tuequipo {
  display: flex;
  justify-content: center;
  margin: auto;
  font-weight: bold;
  font-size: clamp(1rem, 0.8rem + 4vw, 2.5rem);
  line-height: 0.8rem;
  color: rgb(52, 1, 94);
}

/* Most read */

.the-most-read-container {
  width: 100%;
  max-width: 768px;
  margin: 0.25rem auto 0 auto;
  padding: 0 1rem 0 1rem;
  border-top: thick solid black;
  border-bottom: thick solid black;
}

.the-most-read-container a {
  text-decoration: none;
  color: black;
  min-width: 130px;
}

.the-most-read-container h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  font-size: clamp(0.7rem, 0.5rem + 2vw, 1.5rem);
  font-weight: 500;
}

.read-sections {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.the-most-read {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.the-most-read a {
  text-decoration: none;
  color: black;
}

.most-read-img {
  width: 35vw;
  max-width: 250px;
  height: 130px;
  background-image: url(assets/copa-argentina-como-sigue.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.most-read-img-span {
  position: absolute;
  left: 10px;
  bottom: 1rem;
  color: white;
  font-size: 4rem;
  font-family: var(--font-titles);
}

.most-read-written {
  width: 35vw;
  max-width: 250px;
  height: 130px;
}

.most-read-written-bg {
  background-color: var(--third-color);
  width: 100%;
  height: 130px;
  display: block;
  position: relative;
}

.most-read-span {
  font-weight: 400;
  font-size: clamp(0.4rem, 0.4rem + 0.2vw, 0.7rem);
  margin-left: 0.8rem;
}

.most-read-written h4 {
  margin-left: 0.8rem;
  margin-right: 0.4rem;
  font-family: var(--font-titles);
  max-height: 72px;
  overflow: hidden;
  font-size: clamp(0.91rem, 1.89rem + 0.1vw, 0.96rem);
}

.most-read-icon {
  position: absolute;
  margin-left: 0.8rem;
  bottom: 8px;
  font-size: clamp(0.4rem, 0.4rem + 0.25vw, 0.6rem);
}

.most-none-a {
  display: none;
}

@media screen and (min-width: 64em) {
  .most-none-a {
    display: block;
  }

  .the-most-read-1,
  .the-most-read-2,
  .the-most-read-3,
  .the-most-read-4,
  .the-most-read-5 {
    display: flex;
    flex-direction: row;
  }

  .the-most-read-5 {
  }

  .read-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .the-most-read-container a {
    text-decoration: none;
    color: black;
    pointer-events: none;
  }

  .most-read-img {
    width: 250px;
    pointer-events: visible;
  }

  .most-read-written {
    max-width: 1000px;
    width: 100%;
  }

  .most-read-written-bg-1 {
    width: 100%;
    pointer-events: visible;
  }
  .most-read-written-bg-2 {
    width: 76.5%;
    pointer-events: visible;
  }
  .most-read-written-bg-3 {
    width: 66.5%;
    pointer-events: visible;
  }
  .most-read-written-bg-4 {
    width: 52%;
    pointer-events: visible;
  }
  .most-read-written-bg-5 {
    width: 36%;
    pointer-events: visible;
  }
}

/* Tapa */

.la-tapa {
  width: 100%;
  max-width: 768px;
  margin: 0.5rem auto 0 auto;
  border-bottom: thick solid black;
}

.la-tapa-container {
  border-top: thick solid black;
  background-color: var(--second-color);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.1rem;
}
.la-tapa-container h3 {
  margin-top: 1rem;
  margin-left: 2rem;
  display: inline-block;
  font-size: clamp(0.7rem, 0.5rem + 2vw, 1.5rem);
}
.tapa-previous-pages svg {
  width: 5vw;
  max-width: 20px;
  color: var(--first-color);
}
.tapa-previous-pages {
  margin-top: 1rem;
  margin-right: 1rem;
  color: black;
  font-size: clamp(0.7rem, 0.5rem + 2vw, 1.5rem);
  text-decoration: none;
  float: right;
}
.la-tapa-container img {
  width: 70%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
  box-shadow: var(--box-shadow5);
}

.social-media-tapa {
  width: 90%;
  margin: 0.5rem auto 0.5rem auto;
  display: flex;
}

.social-media-tapa a {
  width: 32%;
  height: 37px;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.social-media-tapa svg {
  width: 22px;
  height: 22px;
  margin-left: auto;
  margin-right: auto;
}

.tapa-svg-face {
  background-color: var(--facebook-color);
}
.social-media-tapa :nth-child(2) {
  background-color: var(--twitter-color);
  margin-right: 0.2rem;
}
.social-media-tapa :nth-child(3) {
  margin-right: 0.2rem;
  fill: white;
  background-color: var(--wsp-color);
}

@media screen and (min-width: 48em) {
}

/* Return Mobile and Desktop */

.return-mobile {
  width: 35px;
  height: 35px;
  display: inline-block;
  position: fixed;
  bottom: 0.5vh;
  right: 8px;
  z-index: 50;
  background-color: var(--first-alpha50-color);
  border-radius: 0.9rem;
  scroll-behavior: smooth;
}

.return-desktop {
  width: 62px;
  height: 61px;
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 147px;
  z-index: 50;
  display: none;
  background-color: black;
  scroll-behavior: smooth;
  text-decoration: none;
}

.return-desktop svg {
  width: 30px;
  height: 30px;
  fill: black;
  background-color: white;
  margin: 5px auto 0 auto;
  display: flex;
}

.return-desktop p {
  color: white;
  text-align: center;
  font-size: 12px;
  margin: 0;
}

.return-desktop svg:hover {
  background-color: orange;
}

@media (min-width: 64em) {
  .return-mobile {
    display: none;
  }

  .return-desktop {
    display: block;
  }
}

/**** Utilities ****/

/**** Site Styles ****/
[id] {
  scroll-margin-top: 6ex;
}

.title-news-a-h {
  text-decoration: none;
  color: black;
}

.title-news-a-h:hover {
  text-decoration: underline;
}

/* Foto y div */

.foto-area {
  width: 100%;
  position: relative;
  top: 4px;
  display: inline-block;
  margin-bottom: -200px;
}
.foto-area img {
  width: 100%;
  height: 40vh;
  min-height: 260px;
}

.foto-area-firstdiv {
  position: absolute;
  left: 8px;
  top: 8px;
  color: white;
  font-weight: bold;
  margin: 0;
}

.secundary-news-container h2 {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
  font-size: 32px;
}

.secondary-news {
  position: relative;
  background-color: white;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border-bottom: thin solid var(--second-color);
}

@media screen and (min-width: 64em) {
  .secondary-news {
    height: 440px;
  }
  .secondary-news {
    margin-top: 0;
    border-bottom: none;
  }
}

.secondary-news-container {
  margin-top: 1rem;
}

.secondary-news-12 {
  border-bottom: none;
}

/* Social media en la foto mobile */

.social-media-foto-mobile {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.social-media-foto-mobile svg {
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  fill: #ffffff;
}

.soc-med-fm-comp {
  background-color: rgb(245, 119, 2);
}
.soc-med-fm-face {
  background-color: var(--facebook-color);
}
.soc-med-fm-tt {
  background-color: var(--twitter-color);
}
.soc-med-fm-wsp {
  background-color: var(--wsp-color);
}

@media screen and (min-width: 48em) {
  .social-media-foto-mobile {
    display: none;
  }
}

@media screen and (min-width: 64em) {
  .grid-desktop {
    display: grid;
    grid-template-columns: 320px 320px 320px;

    gap: 1rem 1rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .grid-sup-publi {
    grid-column: 1 / 4;
  }
  .grid-news-main {
    grid-column: 1 / 4;
  }

  .secondary-news-2 {
    grid-column: 2 / 3;
  }

  .secondary-news-3 {
    grid-column: 1 / 2;
  }

  .grid-adv1 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  .la-tapa {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
  }

  .grid-most-read {
    grid-column: 3 / 4;
    grid-row: 4 / 6;
    align-self: start;
  }

  .grid-gdt {
    grid-column: 3 / 4;
    grid-row: 8 / 9;
  }

  .grid-adv2 {
    grid-column: 3 / 4;
    grid-row: 9 / 10;
    align-self: start;
  }

  .secondary-news-12 {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
  }

  .secondary-news-11 {
    grid-column: 2 / 3;
    grid-row: 8 / 9;
  }

  .secondary-news-10 {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
  }

  .secondary-news-9 {
    grid-column: 1 / 2;
    grid-row: 9 / 10;
  }

  .secondary-news-13 {
    grid-column: 2 / 3;
    grid-row: 9 / 10;
  }
}
